* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /*background-image: url("../img/banner.jpg");*/
    /* Posicion del banner  */
    background-position: center;
    background-size: cover;
    height: 120px;
}

/* secciones y imagenes */

.seccion {
    background-color: #007bff;
}

.seccion h2 {
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-align: center ;
}

h1 {
    font-size: 2rem; /*-- rems are more responsive--*/ 
    color: 007bff;
}


h2 {
    padding-top: 10px;
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    text-align: left;    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem ;
    color: #007bff;

    ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    a {
        text-decoration: none;
    }
}


.seccion1 .tituloSeccion1 {
    padding-top: 25px;
    padding-bottom: 45px;
    font-size: 45px;
}

.seccion1 .icon {
    /*formas web visuales. es un tema que aprenderemos + adelante...*/
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background-color: #FFD433;
    padding: 12px;
    font-size: 50px;
    color: #000;
}


.column2 {
    background-image: url("../img/reto1surf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-attachment: fixed;
}

.column2 h2 {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding-top: 100px;
}

/* clase de seccion 2 */
.seccion2 {
    background-color: #f8f9fa;
    padding: 0px 0;
}
.seccion2 .tituloSeccion2 {
    text-align: center;
    font-size: 60px;
    color: #007bff;
    padding-bottom: 20px;
}
.seccion2 .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* clase de boton izquierdo */
.button-wrapper {
    margin-top: auto;
    text-align: left;


  }
  
  .button-wrapper button {
    background-color: #007bff;      /* Color de fondo inicial */
    color: #fff;                     /* Color del texto */
    border: none;                    /* Sin borde */
    padding: 0.5rem 1rem;            /* Espaciado interno */
    border-radius: 0.25rem;          /* Esquinas redondeadas */
    cursor: pointer;                 /* Manita al pasar por encima */
    transition: background-color 0.3s ease;
  }
  
  /* Efecto hover */
  .button-wrapper button:hover {
    background-color: #687078;      /* Color de fondo al pasar el ratón */

  } 

/* clase de boton derecho */

.button-wrapper2 {
    margin-top: auto;
    text-align: right;
  }
  
  .button-wrapper2 button {
    background-color: #007bff;      /* Color de fondo inicial */
    color: #fff;                     /* Color del texto */
    border: none;                    /* Sin borde */
    padding: 0.5rem 1rem;            /* Espaciado interno */
    border-radius: 0.25rem;          /* Esquinas redondeadas */
    cursor: pointer;                 /* Manita al pasar por encima */
    transition: background-color 0.3s ease;
  }
  
  /* Efecto hover */
  .button-wrapper2 button:hover {
    background-color: #687078;      /* Color de fondo al pasar el ratón */

  }



/*personalizar menu hamburguesa */
.navbar-toggler {
    background-color: #007bff;
    border: 3px solid #fff;
}

.navbar-toggler i {
    color: #fff;
    font-size: 30px;
}


.navbar-toggler:hover {
    background-color: #6b6262;
}
  
footer {
    background-color: #007bff;
}

footer p {
    color: rgb(253, 252, 252);
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;

}


/* 
    Dispositivo = Dispositivos con muy baja resolución (Pequeños)
    Pantalla = 320px to 479px. 
    Por lo general se usa y se puede observar con la extensión "simulador móvil"
*/

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-brand img {
        width: 68px;
    }
    .nav-item a {
        font-size: 17px;
    }
    .seccion h1 {
        font-size: 55px;
    }
    .seccion1 h2 {
        font-size: 27px;
    }
    .seccion2 .tituloSeccion2 {
        font-size: 45px;
    }
    .seccion3 h2 {
        font-size: 45px;
    }
    .seccion4 .tituloSeccion4 {
        font-size: 45px;
    }
    .tituloSeccion5 {
        font-size: 45px;
    }
    footer p {
        font-size: 15px;
    }
    .botonScrollTop {
        background-color: #fddb59;
        right: 13px;
    }
}


/* 
    Dispositivo = Tablets con baja resolución, móviles , móviles (Landscape = orientación horizontal)
    Pantalla = 481px a 767px. Esta medida se puede observar con el navegador minimizandolo
*/

@media (min-width: 481px) and (max-width: 767px) {
    .navbar-brand img {
        width: 90px;
    }
    .nav-item a {
        font-size: 19px;
    }
    .seccion h1 {
        font-size: 75px;
    }
    .seccion1 h2 {
        font-size: 30px;
    }
    .seccion2 .tituloSeccion2 {
        font-size: 50px;
    }
    .seccion3 h2 {
        font-size: 50px;
    }
    .seccion4 .tituloSeccion4 {
        font-size: 50px;
    }
    .tituloSeccion5 {
        font-size: 50px;
    }
    footer p {
        font-size: 18px;
    }
    .botonScrollTop {
        background-color: #fddb59;
        right: 13px;
    }
}


/* 
    Dispositivo = Tablets, Ipads (portrait = verticales)
    Pantalla = 768px a 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-brand img {
        width: 100px;
    }
    .nav-item a {
        font-size: 25px;
    }
    .seccion h1 {
        font-size: 85px;
    }
    .seccion1 h2 {
        font-size: 55px;
    }
    .seccion2 .tituloSeccion2 {
        font-size: 65px;
    }
    .seccion3 h2 {
        font-size: 65px;
    }
    .seccion4 .tituloSeccion4 {
        font-size: 65px;
    }
    .tituloSeccion5 {
        font-size: 65px;
    }
    footer p {
        font-size: 18px;
    }
    .botonScrollTop {
        background-color: #fddb59;
        right: 13px;
    }
}

.botonScrollTop {
    background-color: #fddb59;
    right: 13px;
}